{% extends 'layout.html' %}

    <!-- MAIN -->
    {% block main %}
        <!-- bloque de texto -->
        <!-- Título -->
        <h1 class="{{ class_color }}">{{ titulo }}</h1>
        <!-- Párrafo -->
        <p class="{{ class_color }}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, quisquam quis. Aliquam aliquid saepe laborum error molestiae laudantium adipisci a esse, doloremque maxime eaque quia, blanditiis explicabo, reiciendis ratione dolores!</p>
        <!-- Botón -->
        <a class="boton {{ class_boton }} {{ class_boton_texto }}" href="{{ imagen }}">DESCARGAR FONDO ACTUAL</a>

    {% endblock %}
 